.cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;

  span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);

    &:first-child {
      position: relative;
      width: 35px;
      height: 35px;
      transform: scale(1);
      vertical-align: middle;
      border: 1px solid #9098a9;
      transition: all 0.2s ease;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        fill: none;
        stroke: #ffffff;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 16px;
        stroke-dashoffset: 16px;
        transition: all 0.3s ease;
        transition-delay: 0.1s;
        transform: translate(-50%, -50%);
      }

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: #48D2A0;
        display: block;
        transform: scale(0);
        opacity: 1;
        border-radius: 50%;
      }
    }

    &:last-child {
      border-radius: 50%;
      padding-left: 8px;
    }
  }

  &:hover span:first-child {
    border-color: #48D2A0;
  }
}

.inpCbx:checked + .cbx span:first-child {
  background: #48D2A0;
  border-color: #48D2A0;
  animation: wave 0.4s ease;

  svg {
    stroke-dashoffset: 0;
  }
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}